<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Common.Logging Logging Facade https://github.com/net-commons/common-logging -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
 </configSections>
 <common>
    <logging>
      <!--
You can log to Console and Trace without using an NLog or log4net factory, but common logging
only supports a single factory so you would only do this in specific situations (like testing projects).
 
http://stackoverflow.com/questions/11362410/common-logging-with-multiple-factory-adaptors
https://github.com/ramonsmits/common-logging
 
Both Console and Trace are picked up by the Resharper test runner (not sure about Nunit or MSTest).
-->
      <!--
The ConsoleOutLoggerFactoryAdapter will send log messages to the console
The NLog equivalent is the Console target (https://github.com/NLog/NLog/wiki/Console-target)
The log4net equivalent is ConsoleAppender (or ColoredConsoleAppender).
-->
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="TRACE" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss:fff" />
      </factoryAdapter>
      <!--
The TraceLoggerFactoryAdapter will send log messages to the output window in visual studio.
The NLog equivalent is the Trace target (https://github.com/NLog/NLog/wiki/Trace-target)
The log4net equivalent is TraceAppender.
-->
      <!--<factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss:fff" />
      </factoryAdapter>-->
    </logging>
  </common>
  
</configuration>
